body {
  font-family: Montserrat, sans-serif;
  color: #1d1d1d;
  font-size: 15px;
  line-height: 20px;
  cursor: none;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 3.03vw;
  line-height: 1.05em;
  font-weight: 400;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 2.25vw;
  line-height: 1.15em;
  font-weight: 400;
}

p {
  margin-bottom: 0px;
  font-size: 1.05vw;
  line-height: 1.4em;
}

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 2.1vh 2.5vw 1.6vh;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #1d1d1d;
  background-color: #f67433;
}

.navbar.color-2 {
  background-color: #d8d1c5;
}

.menu-btn {
  position: relative;
  margin-left: auto;
  padding-right: 0px;
  font-size: 1.15vw;
  line-height: 1em;
  font-weight: 700;
  text-transform: uppercase;
}

.menu-btn.w--open {
  background-color: transparent;
}

.orange-s {
  background-color: #f67433;
}

.container {
  padding-right: 2.5vw;
  padding-left: 2.5vw;
}

.container.orange-s.v2 {
  padding-top: 6.2vh;
  padding-bottom: 10.2vh;
}

.container.s1 {
  padding-top: 7.5vh;
  padding-bottom: 5.5vh;
}

.container.s3 {
  padding-top: 19.8vh;
  padding-bottom: 14.3vh;
  background-color: #a5a885;
}

.container.s2 {
  padding-top: 6.5vh;
  padding-bottom: 17.6vh;
}

.container.s4 {
  padding-top: 6.5vh;
  padding-bottom: 12.2vh;
  background-color: #d8d1c5;
}

.container.s5 {
  padding-top: 8.6vh;
  padding-bottom: 18vh;
}

.big-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 35px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #1d1d1d;
  background-color: #f67433;
  background-image: url('../images/dd-pluse.svg');
  background-position: 97% 50%;
  background-size: 4.9vw;
  background-repeat: no-repeat;
  color: #1d1d1d;
  font-size: 6.4vw;
  line-height: 1em;
  text-decoration: none;
}

.grid-big-cards {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 3.5vw;
  grid-row-gap: 3.5vh;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-big-cards.mt-27 {
  margin-top: 27px;
}

.img-100-percent {
  width: 100%;
}

.img-100-percent.im-stiky {
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
}

.label-card {
  font-size: 1.06vw;
  line-height: 1.4em;
  font-weight: 600;
}

.info-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 19px;
  padding-right: 16px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.06vw;
  line-height: 1.4em;
}

.info-card.mt-0 {
  margin-top: 0px;
}

.stiky-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 40px;
}

.grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 10vw;
  grid-row-gap: 16px;
  -ms-grid-columns: 0.475fr 1fr;
  grid-template-columns: 0.475fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.ml-245 {
  margin-right: 245px;
}

.border {
  width: 100%;
  height: 1px;
  max-width: 206px;
  margin-left: 11px;
  background-color: #1d1d1d;
}

.action-bl {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.m-set {
  margin-top: 90px;
  margin-right: 33%;
}

.li-link {
  position: relative;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 50px;
  border-bottom: 1px solid #1d1d1d;
  color: #1d1d1d;
  font-size: 1.57vw;
  line-height: 150%;
  text-decoration: none;
}

.num-link {
  position: absolute;
  left: 0px;
  top: 18px;
  font-size: 12px;
  line-height: 150%;
}

.border-top {
  border-top: 1px solid #1d1d1d;
}

.mt-55 {
  margin-top: 55px;
}

.li-wrapper {
  margin-top: 118px;
}

.footer {
  padding: 6.7vh 2.5vw 11vh;
  background-color: #1d1d1d;
  color: #fff;
}

.label {
  display: inline-block;
  font-size: 0.93vw;
  line-height: 1.6em;
  font-weight: 500;
  text-transform: uppercase;
}

.link-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1.1vh;
  padding-bottom: 1.1vh;
  padding-left: 0.5vw;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 1.27vw;
  line-height: 1.5em;
  text-decoration: none;
}

.border-top-f {
  margin-top: 42px;
  margin-bottom: 57px;
  border-top: 1px solid #fff;
}

.brand {
  width: 9vw;
}

.grid-normal {
  display: -ms-grid;
  display: grid;
  margin-bottom: 45px;
  grid-auto-columns: 1fr;
  grid-column-gap: 46px;
  grid-row-gap: 46px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.li {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 51px;
  border-bottom: 1px solid #1d1d1d;
  background-image: url('../images/list-dot.svg');
  background-position: 0% 50%;
  background-size: 0.7vw;
  background-repeat: no-repeat;
  font-size: 1.56vw;
  line-height: 1.5em;
}

.list {
  margin-top: 35px;
  margin-bottom: 0px;
}

.info-prj {
  margin-top: 28vh;
}

.m-set-2 {
  margin-top: 40px;
  margin-bottom: 64px;
}

.about-bl {
  width: 46vw;
}

.close {
  position: absolute;
  top: 0%;
  bottom: 0%;
  display: none;
  width: 3.6vw;
}

.main-im {
  width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.cursor {
  position: fixed;
  left: -7.5px;
  top: -7.5px;
  z-index: 99999;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

.nav-menu {
  width: 100%;
  margin-top: 10.2vh;
  background-color: transparent;
}

.preloader {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 9999;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.preloader-im {
  width: 9vw;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 4vw;
  }

  h2 {
    font-size: 3vw;
  }

  p {
    font-size: 1.7vw;
  }

  .menu-btn {
    font-size: 2vw;
  }

  .container.s2 {
    padding-bottom: 100px;
  }

  .big-link {
    background-size: 7vw;
    font-size: 7vw;
  }

  .label-card {
    font-size: 2vw;
  }

  .info-card {
    font-size: 1.5vw;
  }

  .info-card.mt-0 {
    font-size: 2vw;
  }

  .grid {
    grid-column-gap: 8vw;
  }

  .ml-245 {
    margin-right: 100px;
  }

  .m-set {
    margin-right: 15%;
  }

  .li-link {
    font-size: 2vw;
  }

  .label {
    font-size: 1.5vw;
  }

  .link-footer {
    font-size: 1.8vw;
  }

  .brand {
    width: 12vw;
  }

  .li {
    background-size: 1vw;
    font-size: 2.5vw;
  }

  .info-prj {
    margin-top: 15vh;
  }

  .about-bl {
    width: 60vw;
  }

  .close {
    width: 6.5vw;
  }

  .cursor {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 5.5vw;
  }

  h2 {
    font-size: 3.5vw;
  }

  p {
    font-size: 2.5vw;
  }

  .navbar {
    padding-right: 15px;
    padding-left: 15px;
  }

  .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .big-link {
    padding-right: 15px;
    padding-left: 15px;
    background-size: 9vw;
    font-size: 8vw;
  }

  .arrow-big-link {
    width: 50px;
  }

  .grid-big-cards {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .label-card {
    font-size: 3vw;
  }

  .info-card {
    font-size: 3vw;
  }

  .grid {
    grid-column-gap: 50px;
  }

  .ml-245 {
    margin-right: 0px;
  }

  .li-link {
    font-size: 3vw;
  }

  .brand {
    padding-left: 0px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 7vw;
  }

  h2 {
    font-size: 6vw;
  }

  p {
    font-size: 3.5vw;
  }

  .menu-btn {
    font-size: 4vw;
  }

  .container.s3 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .big-link {
    background-size: 13vw;
    font-size: 11vw;
  }

  .arrow-big-link {
    width: 40px;
  }

  .label-card {
    font-size: 4vw;
  }

  .info-card {
    font-size: 4vw;
  }

  .info-card.mt-0 {
    font-size: 4vw;
  }

  .stiky-wrapper {
    position: static;
    max-width: none;
    margin-bottom: 50px;
  }

  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .li-link {
    font-size: 4vw;
  }

  .label {
    font-size: 2.5vw;
  }

  .link-footer {
    font-size: 4vw;
  }

  .brand {
    width: 24vw;
  }

  .grid-normal {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .li {
    background-size: 2.5vw;
    font-size: 4.5vw;
  }

  .info-prj {
    margin-top: 8vh;
  }

  .about-bl {
    width: auto;
  }

  .close {
    width: 12vw;
  }
}

